<h1><%= t_models_local %></h1>

<%= link_to t('new'), new_queue_of_book_path %>

<table>
	<tr>
		<th><%= t_attr_local :book %></th>

		<% if current_user.is_employee %>
			<th><%= t_attr_local :user %></th>
		<% end %>

		<th><%= t_attr_local :created_at %></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @queue_of_books.each do |queue_of_book| %>
	<tr>
		<td><%= queue_of_book.book.title %></td>
		
		<% if current_user.is_employee %>
			<td><%= queue_of_book.user.name %></td>
		<% end %>

		<td><%= l queue_of_book.created_at.to_date %></td>
		<td><%= link_to t('show'), queue_of_book %></td>
		<td><%= link_to t('destroy'), queue_of_book, :confirm => t('confirm'), :method => :delete %></td>
	</tr>
<% end %>
</table>

<br />

<%= paginate @queue_of_books %>