<%= notice_alert_messages_for %>

<p>
	<b><%= t_attr_local :book %>:</b>
	<%= @queue_of_book.book.title %>
</p>

<p>
	<b><%= t_attr_local :user %>:</b>
	<%= @queue_of_book.user.name %>
</p>

<p>
	<b><%= t_attr_local :created_at %>:</b>
	<%= @queue_of_book.created_at.to_date %>
</p>


<%= link_to t('back'), queue_of_books_path %>
