<%= notice_alert_messages_for %>

<p>
	<b><%= t_attr_local :book %>:</b>
	<%= @queue_of_book.book.title %>
</p>

<% if current_user.is_employee %>
	<p>
		<b><%=t_attr_local :user %>:</b>
		<%= @queue_of_book.user.name %>
	</p>
<% end %>

<p>
	<b><%= t_attr_local :created_at %>:</b>
	<%= l @queue_of_book.created_at.to_date %>
</p>


<%= link_to t('back'), :back %>
