<div class="field">
	<%= f.label :book %><br />
	<%= f.collection_select :book_id, books, :id, :title %>
</div>

<% if current_user.is_employee %>
	<div class="field">
		<%= f.label :user %><br />
		<%= f.collection_select :user_id, users, :id, :name %>
	</div>
<% else %>
	<%= f.hidden_field :user_id, value: current_user.id %>
<% end %>