<%= form_for(@book) do |f| %>

	<%= error_messages_for(@book) %>

	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title, length: 150 %>
	</div>
	<div class="field">
		<%= f.label :writer %><br />
		<%= f.text_field :writer, length: 150 %>
	</div>
	<div class="field">
		<%= f.label :pages %><br />
		<%= f.number_field :pages %>
	</div>
	<div class="field">
		<%= f.label :copies %><br />
		<%= f.number_field :copies %>
	</div>
	<div class="field">
		<%= f.label :book_binding %><br />
		<%= f.select :book_binding, options_for_book_binding %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>