<%= form_for(@loan) do |f| %>

  <%= error_messages_for(@loan) %>

	<div class="field">
		<%= f.label :book %><br />
		<%= f.collection_select :book_id, @books, :id, :title %>
	</div>
	<div class="field">
		<%= f.label :user %><br />
		<%= f.collection_select :user_id, @users, :id, :name %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
	
<% end %>
