<h1><%= t_models_local %></h1>

<%= link_to t('new'), new_loan_path %>

<table>
	<tr>
		<th><%= t_attr_local :book %></th>
		<th><%= t_attr_local :user %></th>
		<th><%= t_attr_local :starts_at %></th>
		<th><%= t_attr_local :end_at %></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @loans.each do |loan| %>
	<tr>
		<td><%= loan.book.title %></td>
		<td><%= loan.user.name %></td>
		<td><%= l loan.starts_at %></td>
		<td><%= l loan.end_at %></td>
		<td><%= link_to t('show'), loan %></td>
		<td><%= link_to t('renew'), loan_renew_path(loan), :confirm => t('confirm'), :method => :put %></td>
	</tr>
<% end %>
</table>

<br />

<%= paginate @loans %>