<h1><%= t(:report_of_loan) %></h1>

<%= form_tag report_result_loans_path, :method => :get do %>

	<div class="field">
		<%= label_tag t_attr_local(:book) %><br />
		<%= select_tag :book_id, options_from_collection_for_select(@books, :id, :title), include_blank: true %>
	</div>

	<% if current_user.is_employee %>
		<div class="field">
			<%= label_tag t_attr_local(:user) %><br />
			<%= select_tag :user_id, options_from_collection_for_select(@users, :id, :name), include_blank: true %>
		</div>
	<% else %>
		<%= hidden_field_tag :user_id, current_user.id %>
	<% end %>

	<div class="field">
		<%= label_tag t(:period_of) %>
		<%= date_select :filter, :starts_at %>

		<%= label_tag t(:to) %>
		<%= date_select :filter, :end_at %>
	</div>

	<%= submit_tag t(:report) %>

<% end %>