<p id="notice"><%= notice %></p>

<p>
	<b><%=t_attr_local :book %>:</b>
	<%= @loan.book.title %>
</p>

<p>
	<b><%=t_attr_local :user %>:</b>
	<%= @loan.user.name %>
</p>

<p>
	<b><%=t_attr_local :starts_at %>:</b>
	<%= @loan.starts_at %>
</p>

<p>
	<b><%=t_attr_local :end_at %>:</b>
	<%= @loan.end_at %>
</p>


<%= link_to t('edit'), edit_loan_path(@loan) %> |
<%= link_to t('back'), loans_path %>