<!DOCTYPE html>
<html>
<head>
	<title>LibrarySystem</title>
	<%= stylesheet_link_tag :all %>
	<%= stylesheet_link_tag "/extjs/resources/css/neptune-debug.css" %>
	<%= javascript_include_tag :defaults, "/extjs/ext-debug.js", "/app.js" %>
	<%= csrf_meta_tag %>
</head>
<body>

	<%= yield %>

</body>
</html>
