<!DOCTYPE html>
<html>
<head>
	<title>LibrarySystem</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body>

	<% if user_signed_in? %>
		<div id="main-nav">
			<ul>
				<li>
					<%= link_to root_path do%>
						Home
					<% end %>
				</li>
				<li>
					<%= link_to books_path do %>
						Livros
					<% end %>
				</li>
				<li>
					<%= link_to loans_path do %>
						Empréstimos
					<% end %>
				</li>
				
				<% if current_user.is_employee %>
					<li>
						<%= link_to users_path do %>
							Usuários
						<% end %>
					</li>
				<% end %>
				
				<li>
					Meu usuário
				</li>
			</ul>
		</div>

		<div id="user-bar">
			<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
