<!DOCTYPE html>
<html>
<head>
	<title>LibrarySystem</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body>

	<% if user_signed_in? %>
		<div id="main-nav">
			<ul>
				<li>
					<%= link_to 'Home', employee_root_path %>
				</li>
				<li>
					<%= link_to 'Livros', employee_books_path %>
				</li>
				<li>
					<%= link_to 'Empréstimos', employee_loans_path %>
				</li>
				<li>
					<%= link_to 'Reservas', employee_queue_of_books_path %>
				</li>
				
				<%# if current_user.is_employee %>
					<li>
						<%= link_to 'Usuários', employee_users_path %>
					</li>
				<%# end %>
				
				<li>
					<%= link_to 'Meu usuário', employee_user_path(current_user) %>
				</li>
			</ul>
		</div>

		<div id="user-bar">
			<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
